
.inputDiv {
    position: relative;
    width: 100%;
}

.label {
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    pointer-events: none; /* Make it non-interactive */
}
/* Rest of the CSS remains the same */


.input:focus, .input:hover {
    outline: none;
    border: 1px solid var(--lightRed);
}

.input {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid var(--borderColor);
    background-color: var(--lightGrey);
    color: var(--primaryTextColor);
    border-radius: var(--borderRadius);    
}

.input::placeholder{
    font-size: 14px;
    color: var(--fadeTextColor);
}